services:
  mariadb:
    image: mariadb
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: passw0rd
      MYSQL_DATABASE: meshdata
      MYSQL_USER: meshdata
      MYSQL_PASSWORD: passw0rd
    volumes:
      - ./mysql_data:/var/lib/mysql
    networks:
      - backend
    healthcheck:
      test: ["CMD", "healthcheck.sh", "--connect", "--innodb_initialized"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s
  meshinfo:
    image: ghcr.io/dadecoza/meshinfo-lite:0.1.5-za
    depends_on:
      mariadb:
        condition: service_healthy
    volumes:
      - ./config.ini:/app/config.ini
    environment:
      - PYTHONUNBUFFERED=1
    ports:
      - 8000:8000
    networks:
      - backend
    restart: always
  
networks:       
  backend:
    driver: bridge
